body{
    background-image: url(https://offloadmedia.feverup.com/saopaulosecreto.com/wp-content/uploads/2024/06/18135617/4112777712_903bd2e38c_k.jpg);
    background-repeat:repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: white;
    font-family: Georgia, Garamond;
    font-size: 11pt;
    color: #404040
}

blockquote{
    font-style: italic;
    background-color: #FFFFA8;
}

h1{
    font-size: 22pt;
    text-align: center;

}

h2,h3,h4,h5,h6 {
    text-align: left;
    font-size: 18pt;
}

a{
    color: #A4A400;
}

em{
    font-weight: bold;
}